#home{
    display: none;
    width: 100%;
    height: 90%;
}

.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    #home-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        h1{
        color: white;
        margin: 20px 0px 20px;
        font-size: clamp(40px, 5vw, 50px);
     
    }
    h3{
        color: white;
        font-size: clamp(15px, 5vw, 25px);
        margin-bottom: 50px;
    } 
    h4{
        color: white;
       letter-spacing: 2px;
       font-size: clamp(10px, 5vw, 20px);
    }
    
    span{
        color:#EF233C;
    }

    .download-button {
        position: relative;
        border-width: 0;
        color: white;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        z-index: 1;
    }
    .download-button .docs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        min-height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        z-index: 1;
        background-color: #EF233C;
    
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .download-button:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    .download {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        margin: 0 auto;
        z-index: -1;
        border-radius: 4px;
        transform: translateY(0%);
        background-color: #ffffff;
        border: solid 1px #01e0572d;
        transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .download-button:hover .download {
        transform: translateY(100%);
    }

}





 
    
// }


   

   


   

   

   
